@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   background: url(img/medical-healthcare-blue-color_1017-26807.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}
.container {
  position: relative;
  width: 1180px;
  min-height: 768px;
  min-height: 300px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
 
   
.content {
  transform: translateX(-100px);
  width: 900px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  padding-left: 110px;
}
.content h1 {
  color: #8a2435;
  font-size: 3em;
}
.content h3,
.content h2 {
  color: #8a2435;
}
.content p {
  color: #8a2435;
  font-size: 1rem;
}
.content a {
  display: inline-block;
  padding: 30px 30px;
  background: #fff;
  color: #8a2435;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.content a:hover {
  background-color: #8a2435;
  color: white;
}
.imgBx img {
  max-width: 600px;
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(100px);
  }
}
 
 
 
 
 

.content h3 {
  color: #8a2435;
  font-size: 1.5rem;
  z-index: 1;
}
.content p {
  font-size: 1em;
  font-weight: 300;
  color: black;
}
.content a {
  position: relative;
  display: inline-block;
  padding: 8px 1rem;
  background-color: white;
  color: #8a2435;
  margin-top: 15px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(0, 0, 0.5);
}

 
 

 

 

 
 
 